<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./index.css">

  <script type="module" src="../js/Module/swedish-phonics-module.js"></script>

  <script type="module" src="./combined-component/phonics-component.js"></script>

  <title>App</title>
</head>

<body>
  <header>
    <h1>Swedish Phonics Checker</h1>
  </header>
  <main>
    <div class="informationDiv">
      <p>The Swedish language, with its many vowels and consonant combinations, can look quite intimidating to non-native speakers.</p>
      <p>Which vowel sound, out of the 16 available, should you use? What sound does the combination 'stj' really make?</p>
      <p>Enter a word and learn more about how to pronounce Swedish words.</p>
    </div>


    <phonics-component> </phonics-component>

    <div class="informationDiv">
      <p>Disclaimer: The application currently only deals with words that follow the standard spelling rules.</p>
    </div>
  </main>
  <footer>
    <p class="text-muted">Tea Elming</p>
  </footer>

</body>

</html>